
h1 {
    font-size: 24px;
    text-align: center;
    border-bottom: 3px solid blue;
    padding-bottom: 10px;
}

h2 {
    width: 600px;
    height: 50px;
    border: 1px solid black;
}

ul {
    list-style-type: none;
    padding: 0;
}

.div1{
    border: 2px dashed red;
    padding: 10px;
    margin-bottom: 20px;
    border-right: none;
    border-left: none;
}

.div2{
    border: 2px dashed lime;
    padding: 10px;
    margin-bottom: 20px;
}

a {
    color: blue;
    text-decoration: none;
}
